*.aux
.stack-work/
*~
foxdec/examples/*/100*
foxdec/examples/*/ffff*
foxdec/examples/*/0/
foxdec/examples/*/*.calls
foxdec/examples/*/*.indirections
foxdec/examples/*/*.pdf
foxdec/examples/*/*.png
foxdec/examples/*/*.jpg
foxdec/examples/*/*.dot
foxdec/examples/*/*.thy
foxdec/.stack-work

*.report
*.thy~

.DS_Store
*.swp
*.log
