stages:
  - deploy
  - integration

## =============================================================================
## == DEPLOY ===================================================================
## =============================================================================

deploy-docker:
  stage: deploy
  image: 
    name: ${CI_REGISTRY}/general/docker-images/docker-builder:latest
  script:
    - TAGS=git-${CI_COMMIT_SHORT_SHA} NAME=foxdec DOCKERFILE=ci/Dockerfile /build.sh

## =============================================================================
## == INTEGRATION ==============================================================
## =============================================================================

trigger-integration:
  stage: integration
  needs: [deploy-docker]
  trigger:
    project: vatech/tools/ellf-2.0
