.stack-work/
*~
examples/*/100*
examples/*/ffff*
examples/*/0/
examples/*/*.calls
examples/*/*.indirections
examples/*/*.pdf
examples/*/*.png
examples/*/*.jpg
examples/*/*.dot
examples/*/*.thy

*.report
*.thy~

project/old
project/.stack-work
.DS_Store
*.swp
*.log
