*.aux
.stack-work/
*~
foxdec/examples/*/0*/
foxdec/examples/*/1*/
foxdec/examples/*/2*/
foxdec/examples/*/3*/
foxdec/examples/*/4*/
foxdec/examples/*/5*/
foxdec/examples/*/6*/
foxdec/examples/*/7*/
foxdec/examples/*/8*/
foxdec/examples/*/9*/
foxdec/examples/*/a*/
foxdec/examples/*/b*/
foxdec/examples/*/c*/
foxdec/examples/*/d*/
foxdec/examples/*/e*/
foxdec/examples/*/f*/
foxdec/examples/*/*.calls
foxdec/examples/*/*.indirections
foxdec/examples/*/*.pdf
foxdec/examples/*/*.png
foxdec/examples/*/*.jpg
foxdec/examples/*/*.dot
foxdec/examples/*/*.thy
foxdec/.stack-work

*.report
*.thy~
*.prof
.DS_Store
*.swp
*.log
*.out

temp
